include README.md
include LICENSE
include requirements.txt
include requirements-local-cu118.txt
include requirements-cloud-cu121.txt

recursive-include configs *.yaml
recursive-include notebooks *.ipynb

exclude .gitignore
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude data *
recursive-exclude checkpoints *
recursive-exclude logs *
recursive-exclude outputs *
